.container-mybooking{
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    min-height: calc(100vh - 60px);
    padding-bottom: 4vh;
}

.container-mybooking__header{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary);
}

.container-mybooking__header .icon-mybooking{
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 1vh;
}

.container-mybooking__body__tools{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-mybooking__body{
    width: 100%;
    height: 100%;
    padding-top: 3vh;
}

.container-mybooking__body__items{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom: 3vh;
    gap: 16px;
}

.my-booking-item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 24px 35px 24px 35px;
    gap: 16px;
    border-radius: var(--corner-radius-large);
    background-color: var(--color-background-light);
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.my-booking-item:hover{
    transform: scale(1.005); 
    cursor: pointer;
}

.my-booking-item:active{
    background-color: var(--color-background);
}

.my-booking-item__header{
    display: flex;
    justify-content: space-between;
}

.my-booking-item__body{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h3.item-name{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.my-booking-item__footer{
    display: flex;
    justify-content: space-between;
}

.booking-date{
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon-filter-item {
    height: 2.1vh;
    cursor: pointer;
}

.list-filter{
    display: flex;
    gap: 2vh;
}

button.filter-item{
    display: flex;
    border-radius: 25px;
    height: 35px;
    align-items: center;
}

button.filter-item.selected{
    background-color: var(--color-background);
    transform: scale(1.02);
}