.container-booking-facility {
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    min-height: calc(100vh - 60px);
    /* background-color: rgb(221, 197, 197); */
    padding-bottom: 4vh;
}

.container-booking-facility__header {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary);
}

.container-booking-facility__header .icon-booking-facility {
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
}

.container-booking-facility__header h1 {
    margin-bottom: unset;
}

.container-booking-facility-detail__body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    row-gap: 2vh;
    display: none;
}

.visible{
    display: block;
}

.hidden{
    display: none;
}

.container-detail-facility {
    width: 100%;
    height: 100%;
    padding: 7vh;
    padding-left: 8vh;
    padding-right: 8vh;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.facility__images {
    padding: 25px;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.facility__foto {
    border-radius: var(--corner-radius-large);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.image-swiper {
    max-width: 100%;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items:center;
}
.image-swiper img {
    display: flex;
    justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    max-height: 90%;
    height: fit-content;
    object-fit: cover;
    
    border-radius: var(--corner-radius-large);
}
.facility__body {
    margin-top: 4vh;
    width: 100%;
    height: calc(100% - 50vh);
    display: flex;
    justify-content: space-between;
}

.booking-form {
    background-color: var(--color-background-light);
    box-shadow: var(--shadow);
    border-radius: var(--corner-radius-large);
    padding: 35px;
    width: 45%;
    row-gap: 2vh;
}

.booking-form input {
    width: 100%;
}

.container-booking-facility button.back-btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: unset;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    color: var(--color-text-primary);
    align-items: center;
    font-size: 18px;
    margin-top: 3vh;
    transform: unset;
}

.booking-info {
    background-color: var(--color-background-light);
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    border-radius: var(--corner-radius-large);
    display: flex;
    padding: 35px;
    box-shadow: var(--shadow);
    overflow: hidden;
    text-overflow: ellipsis;
}

.booking-info .judul-harga{
    width: 40%;
}

.count-total {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.count-total h2, .count-total h1 {
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
}
.booking__section__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.button__book{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 7vh;
}


ion-icon{
    width: 30vh;
}

.button__book button {
    border-radius: var(--corner-radius-large);
    width: 100%;
}

.facility-information {
    width: 100%;
    border-radius: var(--corner-radius-large);
    background-color: var(--color-background-light);
    padding: 35px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
}

.header__information {
    margin-top: 4vh;
    margin-bottom: 3vh;
}

.detail-information {
    width: 100%;
    display: flex;
}

.information__section {
    width: 50%;
}

.description-item {
    display: flex;
    align-items: center;
}
.description-item .tag {
    font-weight: bold;
    width: 40%;
    margin: 0;
}
.description-item p {
    width: 50%;
}

.input-file{
    visibility: hidden;
    display: none;
}

.file-uploaded{
    margin-top: 3vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.file-uploaded-item{
    background-color: var(--color-background-light);
    box-shadow: var(--shadow);
    border-radius: var(--corner-radius);
    height: 5vh;
    padding-left: 2vh;
    padding-right: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-trash{
    cursor: pointer;
}

.calendar{
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: var(--color-background-light);
    padding: 4vh;
    box-shadow: var(--shadow);
    border-radius: var(--corner-radius-large);
}

.calendar-component .header{
    display: flex;
    /* justify-content: r0; */
    align-items: center;
    margin-bottom: 2vh;
    color: var(--color-primary);
}
