.container-booking-facility {
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    min-height: calc(100vh - 60px);
    /* background-color: rgb(221, 197, 197); */
    padding-bottom: 4vh;
}

.container-booking-facility__header {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary);
}

.container-booking-facility__header .icon-booking-facility {
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 1vh;
}
.container-booking-facility__header h1 {
    margin-bottom: unset;
}

.container-booking-facility__body {
    flex-grow: 1;
    width: 100%;
    height: calc(95% - 7vh);
    display: flex;
    flex-direction: column;
    padding-top: 2.5vh;
    row-gap: 2vh;
}

.container-booking-facility__body .container-booking-facility__body__item {
    width: 100%;
    height: auto;
    display: flex;
    gap: 3rem;
    row-gap: 3vh;
    flex-flow: row wrap;
    position: relative;
}

.search__bar {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.search__bar__form {
    width: 30%;
}

.icon-filter-item {
    height: 2.1vh;
    cursor: pointer;
}

.search__bar input.search-bar {
    border: 1px solid var(--color-text-secondary);
    border-radius: 30px;
    font-size: 16px;
}

.item-booking-facility {
    background-color: var(--color-background-light);
    min-height: 20vh;
    max-height: 20vh;
    width: calc(100% / 3 - 2rem);
    min-width: 350px;
    display: flex;
    border-radius: var(--corner-radius-large);
    box-shadow: var(--shadow);
    padding: 20px;
    position: relative;
}

.item-booking-facility__image {
    height: 100%;
    width: 16vh;
    background-color: black;
    border-radius: var(--corner-radius-large);
}
.item-booking-facility__image img {
    height: 100%;
    width: 100%;
    border-radius: var(--corner-radius-large);
    object-fit: cover;

}

.item-booking-facility__body {
    height: 100%;
    width: calc(100% - 16vh);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.item-description {
    height: 75%;
    width: 100%;
}
.item-description h2 {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.item-description p {
    font-weight: 400;
    color: var(--color-text-primary-lighter);
}

.item-description .harga {
    font-weight: 600;
    color: var(--color-text-primary);
    margin-top: auto;
}

.button__book {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.button__book button {
    height: 75%;
    width: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contoller-pagination{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;

}
.pagination{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-pagination{
    border-radius: 10px 0px 0px 10px !important;    
}
.button-pagination-next{
    border-radius: 0px 10px 10px 0px !important;
}

.page-link.active, .active > .page-link{
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    color: white !important;
}


.list-filter{
    display: flex;
    gap: 2vh;
}

button.filter-item{
    display: flex;
    border-radius: 25px;
    height: 35px;
    align-items: center;
}

button.filter-item.selected{
    background-color: var(--color-background);
    transform: scale(1.02);
}

input.input-date{
    width: 100%;
    height: 4vh;
    border-radius: var(--corner-radius);
    border: 1px solid var(--color-text-secondary);
    padding: 1vh;
}