.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../common/assets/background.jpeg'), linear-gradient(to right, white, black);
  background-blend-mode: overlay;
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-dark);
  color: var(--color-text-secondary);
  gap: 10px;
  padding: 10px 0 10px 0;
  width: 100%;
}

.logo p {
  width: 200px;
  font-family: 'Tinos';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30vw;
  padding: 30px;
  background-color: #fff;
  border-radius: var(--corner-radius);
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.login-box p {
  align-self: flex-start;
}

.login-box button {
  width: 100%;
}