/* Sidebar */

.left-sidebar {
    color: #C1C8CE;
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 280px;
    background-color: var(--color-primary);
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 10px;
    transition: var(--transition);
}

.left-sidebar.hide {
    left: -300px;
}

.left-sidebar .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    color: var(--color-text-secondary);
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-bottom: 20px;
    z-index: 100;
}

.left-sidebar .bottom .bottom-text {
    font-size: 13px;
}

.left-sidebar .element {
    cursor: pointer;
    padding: 13px 10px;
    margin-left: 25px;
}
 
.left-sidebar .expanding-element {
    cursor: pointer;
    padding: 13px 10px;
    margin-left: 5px;
}


.left-sidebar .header  {
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.left-sidebar .header:hover {
    display: flex;
    align-items: center;
    color: var(--color-background);
}

.left-sidebar .header.active {
    color: var(--color-background-light);
}

.left-sidebar .expanding-element li.active {
    color: var(--color-background-light);
    font-weight: 700;
}

.left-sidebar h3.header-name {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

.left-sidebar .header.active h3.header-name {
    font-weight: 800;
}

.left-sidebar svg {
    margin-right: 15px;
}

.left-sidebar svg.header-icon {
    margin-right: 20px;
    width: 18px;
    height: 18px;
}

.left-sidebar .expanding-element.expanded ul {
    display: block;
    margin-bottom: 0;
    padding-left: 75px;
    list-style-type: none;
}

.left-sidebar .expanding-element ul {
    display: none;
}

.left-sidebar .expanding-element li {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    transition: var(--transition);
}

.left-sidebar .expanding-element li:hover {
    color: var(--color-background);
    text-decoration: none;
}

/* Topbar */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--color-primary-dark);
    color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 100;
}

.topbar.hide {
    display: none;
}

.topbar a {
    display: flex;
}

.topbar .topbar-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.topbar .topbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.topbar .topbar-logo img {
    width: 30px;
    height: 30px;
}

.topbar .topbar-logo p {
    margin: 10px;
    width: 200px;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 11px;
    margin-left: 15px;
    margin-right: 25px;
}

.topbar .topbar-logo p.hide {
    display: none;
}

.topbar svg {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.topbar img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.topbar .topbar-user svg.active {
    color: var(--color-background-light);
}

.topbar svg:hover {
    color: var(--color-background-light);
    transition: var(--transition);
}

.topbar .topbar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.topbar-user-content {
    margin-left: 17px;
}

.topbar-user p {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}

.profile-dropdown {
    position: fixed;
    top: 60px;
    right: 0;
    width: 200px;
    background-color: var(--color-background-light);
    color: var(--color-text-secondary);
    padding: 10px 0;
    box-shadow: var(--shadow);
    z-index: 50;
}

.profile-dropdown.hide {
    display: none;
}

.profile-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown li {
    padding: 10px 20px;
    cursor: pointer;
    transition: var(--transition);
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-primary);
}

.profile-dropdown li:hover {
    background-color: var(--color-background);
}

.notification-dropdown {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    background-color: var(--color-background-light);
    color: var(--color-text-secondary);
    padding: 10px 10px;
    box-shadow: var(--shadow);
    z-index: 50;
}

.notification-dropdown.hide {
    display: none;
}

.notification-dropdown p {
    font-weight: 400;
    font-size: var(--font-size-body);
    color: var(--color-text-primary);
}



/* Modal */
.modal-body.staff-list {
    max-height: 60vh;
    overflow-y: auto;
}
 
.row__staff__modal{
    border: 1px solid var(--color-text-secondary);
    border-radius: var(--corner-radius);
    margin-bottom: 15px;
    height: 11%;
    display: flex;
    padding: 5px;
    padding-left: 10px;
    align-items: center;
    transition: var(--transition);
}
.row__staff__modal:hover{
    background-color: var(--color-text-secondary);
    cursor: pointer;
}
.row__staff__modal.selected {
    background-color: var(--color-text-secondary);
}

.no__unsigned__staff{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
}


.row__staff__modal h2{
    font-size: 15px;
    margin: 0;
    line-height: normal;
}
.row__staff__modal p{
    font-size: 12px;
    margin: 0;
    line-height: normal;
}

.search__bar{
    height: 10%;

    display: block;
    align-items: center;
}

.search__bar input.search-bar{
    border: 1px solid var(--color-text-secondary);
    border-radius: 10px;
    font-size: 16px;
}
.alert-modal-title {
    border: none;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: calc(50vh - 60px);
    min-height: calc(100vh - 60px);
    align-items: center;
}

button.btn-primary:disabled{
    background-color: var(--color-text-secondary);
    cursor: not-allowed;
}

@media (min-width: 576px) {
    .fade.no-background.modal.show {
        height: fit-content;
        width: 500px;
        left: calc(50% - 250px);
    }
}

@media (max-width: 576px) {
    .fade.no-background.modal.show {
        height: fit-content;
        width: 100%;
    }
}

.no-background .modal-dialog {
    margin-bottom: 0;
}

.status-label {
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.status-label-status {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-background-light);
}

.icon-status-label {
    color: var(--color-background-light);
    width: 18px;
    height: 18px;
    margin-right: 5px;
}