.container-profile {
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    padding-bottom: 4vh;
    min-height: 100vh;
}

.container-profile__header {
    /* background-color: antiquewhite; */
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary);
}

.container-profile__header .icon-profile{
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 1vh;
}

.container-profile__body {
    /* background-color: aqua; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
    background-color: var(--color-background-light);
    border-radius: var(--corner-radius-large);
    box-shadow: var(--shadow);
}

.container-profile__body__header {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.profile-photo-circle {
    aspect-ratio : 1 / 1;
    width: 80%;
    position: relative;
    border-radius: 50%;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
}

.profile-photo-label {
    color: var(--color-background);
    display: none;
}

.profile-photo-circle:hover .profile-photo-label {
    color: var(--color-background);
    display: block;
    position: absolute;
    bottom: -48%;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 3;
    cursor: pointer;
}

#profile-photo-file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 2vh 2vh;
    transition: var(--transition);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0);
    opacity: 0;
    z-index: 2;
}

#profile-photo-file::-webkit-file-upload-button {
    visibility: hidden;
    z-index: 2;
}

#profile-photo-file:hover {
    opacity: 1;
    z-index: 2;
}

.profile-details {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
}

.profile-details h2, p {
    margin: 0;
    padding: 0;
}

.profile-details h2 {
    font-weight: bold;
}

.profile-details p {
    font-weight: bold;
    color: var(--color-text-primary);
}

.total-container {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.total-container .total-box {
    width: 20vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.total-container .total-box .total-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    border-top-left-radius: var(--corner-radius-large);
    border-top-right-radius: var(--corner-radius-large);
    background-color: var(--color-primary);
    color: var(--color-sidebar-active);
    box-shadow: var(--shadow);
}

.total-text {
    z-index: 1;
}

.total-container .total-box .total-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    font-size: 48px;
    background-color: var(--color-background-light);
    border-bottom-left-radius: var(--corner-radius-large);
    border-bottom-right-radius: var(--corner-radius-large);
    box-shadow: var(--shadow);
}

.container-profile__body__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
}

.container-profile__body__content td {
    padding: 5px;
    text-align: left;
}

.container-profile__body__content th {
    padding: 5px;
    text-align: center;
    font-weight: normal;
    color: var(--color-text-primary);
    width: 20%;
}

.container-profile__body__content input {
    width: 40%;
    font-weight: bold;
    padding: 15px;
    font-size: var(--font-size-body);
    color: var(--color-text-primary);
    border-radius: var(--corner-radius-large);
    border: 1px solid var(--color-text-secondary);
}

.container-profile__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.container-profile__buttons button {
    margin-right: 2rem;
    margin-bottom: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.icon-pencil {
    display: initial;
    width: 2vh;
    height: 2vh;
    margin-left: 1vh;
    cursor: pointer;
}

.icon-pencil.hide {
    display: none;
}

.icon-save {
    display: initial;
    width: 2vh;
    height: 2vh;
    margin-left: 1vh;
    cursor: pointer;
}

.icon-save.hide {
    display: none;
}