.container-myreport-detail{
    display: flex;
    flex-direction: column;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-top: 3vh;
    min-height: calc(100vh - 60px);
    padding-bottom: 4vh;
}

.container-myreport-detail__header{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--color-text-secondary);
}

.container-myreport-detail__header .icon-myreport{
    width: 2.5vh;
    height: 2.5vh;
    margin-right: 1vh;
}

.container-myreport-detail__body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 3vh;
    row-gap: 1.5rem;
}

.container-myreport-detail__body__item{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 35px;
    gap: 32px;
    border-radius: var(--corner-radius-large);
    background-color: var(--color-background-light);
    box-shadow: var(--shadow);
}

.report-header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.report-detail{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.report-labels{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.report-picture{
    width: 100%;
    height: auto;
}

.report-picture img{
    max-height: 50vh;
}

h3.report-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

h4.report-location{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.report-date-labels{
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;
    align-items: flex-end;
}