:root {
  --color-background: #EEEEEE;
  --color-background-light: #FAFAFA;

  --color-primary-dark: #003D74;
  --color-primary: #015AAA;

  --color-sidebar: #C1C8CE;
  --color-sidebar-dark: #A7B0B8;
  --color-sidebar-active: #FAFAFA;

  --color-text-primary: #5C5C5C;
  --color-text-secondary: #B1B1B1;
  --font-family: "Open SansVariable";
  --font-size-title: 24px;
  --font-size-subtitle: 20px;
  --font-size-body: 14px;

  --corner-radius-large: 15px;
  --corner-radius: 10px;

  --shadow: 0px 0px 40px #D9D9D9;
  --transition: all 0.2s linear;


  font-family: var(--font-family);
  line-height: 19px;
  font-weight: 400;
  font-size: 14px;

  color: var(--color-text-primary);
  background-color: var(--color-background);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--font-size-title);
  line-height: 32.7px;
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-subtitle);
  line-height: 27.3px;
  font-weight: 600;
}

p {
  font-size: var(--font-size-body);
  line-height: 19px;
  font-weight: 400;
}

button {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: 19px;
  font-weight: 600;
  color: var(--color-background);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--corner-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  background-color: var(--color-primary-dark);
}

button:active {
  background-color: var(--color-primary-dark);
}

button.secondary {
  background-color: var(--color-background-light);
  color: var(--color-primary);
  box-shadow: var(--shadow);
}

button.secondary:hover {
  background-color: var(--color-background);
  box-shadow: var(--shadow);
}